body,
html {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vw;
  max-height: 100vw;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-image: url(images/hotel.jpg);
  background-size:contain; 
  background-repeat: none;
  /* background-size:548px 364px; */
}
#container {
  width: 100%;
  height: 30%;
  text-align: center;
}
#hotelMainDiv {
  width: 100vw;
  
  /* background: url(images/hotel.jpg);
     background-repeat: no-repeat;
     background-size:100vw auto; */
  text-align: center;
}
#hotelPic {
  padding-top: 10px;
  padding-bottom: 1px;
  object-fit: cover;
}
.imageDiv {
  min-width: 100vw;
  /* min-height: 65vw; */
  position: fixed;
  /* z-index: -1; */
  bottom: 0;
}

.textBubble {
  display: inline-block;
  width: 80vw;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(138, 138, 138, 0.75);
}
.choiceDiv {
  position: fixed;
  bottom: 0;
}

.choices {
  float: center;

  width: 100vw;
  height: 10%;
  border: 3px solid black;
  background-color: rgb(138, 138, 138);
}

.background {
  z-index: -1;
  position: absolute;
  padding-top: 10%;
  top: 0;
   
} 

#imageTime {
  width: 100%;
  height: auto;
}
