body,
html {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vw;
  max-height: 100vw;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-image: url(images/hotelstart.jpg);
  background-size: 400px; 
  background-repeat: no-repeat;
  /* background-size:548px 364px; */
}
#container {
  width: 100%;
  height: 30%;
  text-align: center;
}
#hotelMainDiv {
  width: 100vw;
  text-align: center;
}


.textBubble, #textBubble1, #textBubble2 {
  display: inline-block;
  width: 80vw;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(138, 138, 138, 0.75);
}
#story1, #story2, #story3 {
  display: inline-block;
  width: 80vw;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(138, 138, 138, 0.75);
}

.choiceDiv {
  position: fixed;
  bottom: 0;
}

.choices {
  float: center;

  width: 100vw;
  height: 10%;
  border: 3px solid black;
  background-color: rgb(138, 138, 138);
}
#qOneOne, #qOneTwo, #qOneThree {
  float: center;
  width: 100vw;
  height: 10%;
  border: 3px solid black;
  background-color: rgb(138, 138, 138);
}

#continueButton, #continueButton1,#continueButton3,#continueButton4 {
  float: center;
  width: 100%;
  height: 15%;
  border: 3px solid black;
  background-color: rgb(138, 138, 138);
  position: fixed;
  bottom: 0;
}

.continueDiv {float: center;
  width: 100%;
  height: 15%;
  border: 3px solid black;
  background-color: rgb(138, 138, 138);
  position: fixed;
  bottom: 0;
}

#mememe {
  background-image: url(images/me.jpg);
  background-size: contain; 
  background-repeat: no-repeat;
}
